<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<h3>Archival Storage Cleanup Error</h3>
<p>Total number of objects affected by cleanup: $total </p>
<p>Successfully deleted $deletedCount objects: $deleted</p>
<p>Successfully rolled back $rolledBackCount objects: $rolledBack</p>
<p>Failed to delete/rollback $failedCount objects: $failed</p>

<p>
    $appName, $appUrl
</p>

<p>This e-mail was generated automatically. Please do not respond.</p>