<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<h3>Object Retrieval Error</h3>
<p>Error has occurred during retrieval of object: $object</p>
<p>Storages which are not reachable: $unreachableStorages</p>
<p>Storages which failed because of invalid checksum: $invalidStorages</p>
<p>Storages which failed for other reason: $errorStorages</p>
<p>Storage which successfully retrieved object: $successfulStorage</p>
<p>Storages which was updated with the valid copy of object: $recoveredStorages</p>
<p>$conclusion</p>

<p>
    $appName, $appUrl
</p>

<p>This e-mail was generated automatically. Please do not respond.</p>